<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>635977820495-0c454cja6daetalci7u1u1fjj9sh4h1v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.635977820495-0c454cja6daetalci7u1u1fjj9sh4h1v</string>
	<key>API_KEY</key>
	<string>AIzaSyBO3CMtcx3h5mIJgXKQSzlDPja5or0-050</string>
	<key>GCM_SENDER_ID</key>
	<string>635977820495</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swe.ping</string>
	<key>PROJECT_ID</key>
	<string>ping-fdb36</string>
	<key>STORAGE_BUCKET</key>
	<string>ping-fdb36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635977820495:ios:3f28dd8dac959bd0</string>
	<key>DATABASE_URL</key>
	<string>https://ping-fdb36.firebaseio.com</string>
</dict>
</plist>